.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Bungee", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.product-card p {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.product-image {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    align-self: center;
    object-fit: contain;
    display: block;
}

.product-title {
    color: #D02102;
    margin-bottom: 8px;
}

.product-id {
    color: #D02102;
    font-weight: 500;
}

.product-description {
    font-size: 14px;
    color: #555;
    flex-grow: 1;

}

.product-category {
    font-weight: bold;
    margin-top: 12px;
    color: #333;

}

.product-subcategory {
    font-weight: bold;
    margin-top: -12px;
    font-style: italic;
    font-size: 12px;
    color: #333;

}

.product-servidor {
    margin-top: 4px;
    font-style: italic;
    font-size: 12px;
    color: #999;
    text-align: right;

}